/node_modules/
/index.js
/index.js.map
/index.d.ts
/index.d.ts.map
/compiler/dist/
/compiler/artifacts/
/compiler/node_modules/
/compiler/target/
/compiler/public/**/*.js
/compiler/public/**/*.d.ts
/compiler/public/**/*.map
