@tailwind base;
@tailwind components;
@tailwind utilities;

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #1f1e1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.container {
  margin: 0;
  display: flex;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}


.container__nav{
  padding: 100px 0;
  width: 30%;
  height: 100%;
  background-color: red;
}

.container__nav ul{
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: green;
}

.container__workspace {
  width: 70%;
  height: 100%;
  background-color: blue;
}